.notuser span{
  color:red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user span{
  color:blue;
  margin-top: 10px;
  margin-bottom: 10px;
}      
.scrollbar::-webkit-scrollbar {
        display: none;
      }