<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
</head>
<body style="background-color:#0e5388;">
    <div class="container ">
        <h1>We have Informed Our Admins , We are sorry that you are facing this issue</h1>
    
        <div class="errorimg" style="align-items: center;" >
            <img src="..\static\images\error500.png" alt="error404" style="display: block;
            margin-left: auto;
            margin-right: auto;">
        </div>
    </div>
</body>
</html>