<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body style="background-color: black;">
    <div class="container" >
    
        <div class="errorimg" style="align-items: center;" >
            <img src="..\static\images\error404.png" alt="error404" style="display: block;
            margin-left: auto;
            margin-right: auto;">
        </div>
    </div>
</body>
</html>